<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

AuthUserFile "/usr/www/users/bloomta/bloomsdev/.htpasswd"
AuthName "Anmeldung"
AuthType Basic
require valid-user
