<div class="termine-data-box d-flex flex-column justify-content-center" data-toggle="modal" data-target="#termineDataModal">
    <div>
        <div class="position-relative termine-data-hover-2">
            <img src="{{@ASSETS}}images/sarah_emp.jpg" alt="">
            <p class="over-image-text termine-name-bg-black">Sarah</p>
        </div>
        <div class="termine-data-time-slots termine-data-price my-0 bg-light text-dark p-1" data-toggle="modal" data-target="#termineDataModal">
            <p class="align-self-center m-0">Senior Stylist</p>
            <p class="align-self-center m-0"><span class="futura-mtbt">31</span>,-</p>
        </div>
        <div class="termine-data-time-slots my-0 bg-dark-2 p-3">
            <p class="align-self-center m-0">8:00</p>
        </div>
        <div class="termine-data-time-slots my-0 bg-dark-2 p-3">
            <p class="align-self-center m-0">8:15</p>
        </div>
        <div class="termine-data-time-slots my-0 bg-dark-2 p-3">
            <p class="align-self-center m-0">8:30</p>
        </div>
        <div class="termine-data-time-slots my-0 bg-light text-dark p-3">
            <p class="align-self-center m-0">8:45</p>
        </div>
    </div>
</div>