<!-- menu_home -->
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/salons.html">salons</a>
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/termine.html">termine</a>
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/preise.html">preise</a>
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/stylebook.html">stylebook</a>
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/gutscheine.html">gutscheine</a>
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/karriere.html">karriere</a>
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/akademie.html">akademie</a>
<a class="nav-item nav-link px-0 menu-blm-top" href="{{ @BASE }}/blooms.html">bloom's</a>