<div class="slider-wrapper theme-default">
    <div class="ribbon">&nbsp;</div>
    <div id="slider" class="nivoSlider">
        <img src="/images/akademie/seminare/Neu/seminare_.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" /><img src="/images/akademie/seminare/Neu/seminare_2.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;"
        />
        <img src="/images/akademie/seminare/Neu/seminare_3.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" /><img src="/images/akademie/seminare/Neu/seminare_4.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;"
        />
        <img src="/images/akademie/seminare/Neu/seminare_5.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" />
        <img src="/images/akademie/seminare/Neu/seminare_6.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" /><img src="/images/akademie/seminare/Neu/seminare_7.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;"
        />
        <img src="/images/akademie/seminare/Neu/seminare_8.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" />
        <img src="/images/akademie/seminare/Neu/seminare_9.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" /><img src="/images/akademie/seminare/Neu/seminare_10.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;"
        />
        <img src="/images/akademie/seminare/Neu/seminare_11.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" />
        <img src="/images/akademie/seminare/Neu/seminare_12.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" /><img src="/images/akademie/seminare/Neu/seminare_13.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;"
        />
        <img src="/images/akademie/seminare/Neu/seminare_14.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" />
        <img src="/images/akademie/seminare/Neu/seminare_15.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" /><img src="/images/akademie/seminare/Neu/seminare_16.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;"
        />
        <img src="/images/akademie/seminare/Neu/seminare_17.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" />
        <img src="/images/akademie/seminare/Neu/seminare_18.jpg" alt="" style="width: 740px; visibility: hidden; display: inline;" /><img class="nivo-main-image" src="/images/akademie/seminare/Neu/seminare_3.jpg" style="display: inline; height: auto; width: 740px;"
        />
        <div class="nivo-caption"></div>
        <div class="nivo-directionNav">
            <a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a>
        </div>
    </div>
</div>

<div id="scroll" class="scrollPhone jspScrollable" tabindex="0" style="overflow: hidden; padding: 0px; width: 310px;">
    <div class="jspContainer" style="width: 310px; height: 130px;">
        <div class="jspPane" style="padding: 0px; width: 290px; top: 0px;">
            <ul>
                <li>
                    <a href="/seminare/hochstecken.html">Seminar für neue Fachkräfte</a
               >
            </li>
            <li>
               <a href="/seminare/hochstecken.html#1"
                  >Seminar für neue Azubis</a
               >
            </li>
            <li>
               <a href="/seminare/hochstecken.html#2">Schnitt Trend Frauen</a>
                </li>
                <li>
                    <a href="/seminare/hochstecken.html#3">Schnitt Trend Männer</a>
                </li>
                <li>
                    <a href="/seminare/hochstecken.html#4">Hochstecken klassisch</a>
                </li>
                <li>
                    <a href="/seminare/hochstecken.html#5">Hochstecken kreativ</a>
                </li>
                <li>
                    <a href="/seminare/hochstecken.html#6">Farb- und Strähnentechniken</a
               >
            </li>
            <li><a href="/seminare/hochstecken.html#7">Fotoworkshop</a></li>
                <li>
                    <a href="/seminare/hochstecken.html#8">Ausbildung zum bloom´s Expert</a
               >
            </li>
            <li>
               <a href="/seminare/hochstecken.html#9"
                  >Ausbildung zum bloom´s Fachtrainer</a
               >
            </li>
            <li>
               <a href="/seminare/hochstecken.html#10"
                  >Ausbildung zum bloom´s Kommuniktaionstrainer</a
               >
            </li>
            <li><a href="/seminare/hochstecken.html#11">Expert Tagung</a></li>
                <li>
                    <a href="/seminare/hochstecken.html#12">Fachtrainer Tagung</a>
                </li>
                <li>
                    <a href="/seminare/hochstecken.html#13">Kommunikationstrainer Tagung</a
               >
            </li>
            <li>
               <a href="/seminare/hochstecken.html#14">Gute Umgangsformen</a>
                </li>
                <li>
                    <a href="/seminare/hochstecken.html#15">bloom´s Hair Happening</a
               >
            </li>
            <li><a href="/seminare/hochstecken.html#16">Azubis on Stage</a></li>
                <li><a href="/seminare/hochstecken.html#17">Visagistenkurs</a></li>
            </ul>
        </div>
        <div class="jspVerticalBar">
            <div class="jspCap jspCapTop"></div>
            <a class="jspArrow jspArrowUp jspDisabled"></a>
            <div class="jspTrack" style="height: 94px;">
                <div class="jspDrag" style="height: 39px; top: 0px;">
                    <div class="jspDragTop"></div>
                    <div class="jspDragBottom"></div>
                </div>
            </div>
            <a class="jspArrow jspArrowDown"></a>
            <div class="jspCap jspCapBottom"></div>
        </div>
    </div>
</div>

<div id="slider" class="nivoSlider">
    <img src="/images/akademie/seminare/Neu/seminare_.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_2.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_3.jpg"
        alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_4.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_5.jpg" alt="" style="display: none; width: 740px;"
    />
    <img src="/images/akademie/seminare/Neu/seminare_6.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_7.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_8.jpg"
        alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_9.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_10.jpg" alt="" style="display: none; width: 740px;"
    /><img src="/images/akademie/seminare/Neu/seminare_11.jpg" alt="" style="display: none; width: 740px;" />
    <img src="/images/akademie/seminare/Neu/seminare_12.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_13.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_14.jpg"
        alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_15.jpg" alt="" style="display: none; width: 740px;" /><img src="/images/akademie/seminare/Neu/seminare_16.jpg" alt="" style="display: none; width: 740px;"
    /><img src="/images/akademie/seminare/Neu/seminare_17.jpg" alt="" style="display: none; width: 740px;" />
    <img src="/images/akademie/seminare/Neu/seminare_18.jpg" alt="" style="display: none; width: 740px;" /><img class="nivo-main-image" src="/images/akademie/seminare/Neu/seminare_17.jpg" style="display: inline; width: 740px; height: auto;" />
    <div class="nivo-caption"></div>
    <div class="nivo-directionNav">
        <a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a>
    </div>
</div>