<article class="container p-md-0 px-2 mt-5" id="page-preise">
    <section style="background-color: #fff;padding: 20px;width: 100%;">

        <table id="1-tbprice" class="table table-borderless table-price">
            <thead>
                <th colspan="2" >
                    <h3 class="mt-2">Modellpreise</h3>
                </th>
            </thead>

            <tbody>
                
                <repeat group="{{@services}}" key="{{@KEY}}" value="{{@service}}">                    

                            <repeat group="{{@service['services']}}" key="{{@KEY2}}" value="{{@item}}">
                                <tr>
                                    <td scope="row" class="w-75 groshi-name">{{ @item['DisplayName'] }}  
                                        <i data-toggle="tooltip" data-html="true"
                                            data-placement="top"
                                            class="fa fa-info-circle bloomstooltip"
                                            id="bloomstip{{@KEY}}{{@KEY2}}" title=""
                                            data-original-title="{{ @item['Description'] }}" > </i>
                                        </td>
                                    <td class="td-gold groshi-price">{{ @item['price']['Price']}} <span class="currency-symbol">€</span>
                                    </td>
                                </tr>
                            </repeat>
                    
                </repeat>
            </tbody>
                
        </table>

        <div class="card_payment_wrp">
            <img src="./assets/images/Piktogram-Kreditkarte.png" alt="Piktogram-Kreditkarte" class="img-fluid">
            <p>Bitte beachten: In der Akademie ist nur Kartenzahlung möglich!</p>
        </div>
    </section>
</article>

<style>
    @media (min-width: 768px) {
        #page-preise section {
            margin: 0 200px;
        }
    }
</style>