<div id="agb-section" class="row">

    <div class="col-md-12">

        <include href="layout/blooms-logo.html" />

        <article id="page-impressum" class="container p-md-0 mt-5">
            <section class="layout-impressum">

                <section class="mt-3">

                    <div class="row">
                        <div class="col-12 d-flex justify-content-end"><button
                                onclick="window.opener=null; window.close(); return false;"
                                class="btn btn-light rounded-0 sticky-top">schliessen</button></div>
                        <div class="col-12">
                            <p class="mt-3 mb-0">Allgemeine Geschäftsbedingungen für die Terminvereinbarung bei bloom´s
                                Friseur (AGB´s)</p>
                            <p class="mb-0">„bloom´s Friseur“ ist eine eingetragene Marke der Pertsch GmbH und der
                                blooms1 GmbH, vertreten durch die Geschäftsführer Robert Rode und Sebastian Römer, N7, 8, 68161 Mannheim.</p>

                            <div class="mt-5">
                                <h5><strong>§ 1 Geltungsbereich</strong></h5>
                                <p>Für die Geschäftsbeziehung zwischen dem Kunden und bloom´s Friseur gelten die nachstehenden Allgemeinen Geschäftsbedingungen (AGB). Abweichende Vereinbarungen bedürfen der Schriftform.</p>

                                <div class="mt-5">
                                    <h5><strong>§ 2 Terminvereinbarung</strong></h5>
                                    <p>Die Terminvereinbarung erfolgt persönlich, telefonisch oder online über unser Buchungstool (Homepage) auf Grundlage der gewünschten Leistungen. Sobald ein Termin mit Datum und Uhrzeit verbindlich gebucht ist, entsteht zwischen dem Kunden und bloom´s Friseur ein Dienstleistungsvertrag über die vereinbarte Leistung.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 3 Terminstornierung</strong></h5>
                                    <p>Ein vereinbarter Termin kann persönlich, telefonisch oder über die Webseite kostenfrei bis zu 24 Stunden vor Terminbeginn verschoben oder storniert werden. Den entsprechenden Stornierungslink finden Sie in der Bestätigungsmail zu Ihrem Termin. Verschiebungen oder Stornierungen über soziale Medien wie Facebook und Instagram oder per E-Mail sind ausgeschlossen.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 4 Gebühr bei nicht zustande kommen des Termins</strong></h5>
                                    <p>Wird ein Termin nicht rechtzeitig mindestens 24 Stunden vor Beginn storniert oder nicht wahrgenommen, entsteht eine Gebühr in Höhe von 65 % der reservierten Leistungen. Bei Verspätungen von mehr als 20 Minuten behält sich bloom´s Friseur das Recht vor, den Termin abzusagen und die Gebühr zu erheben.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 5 Preise</strong></h5>
                                    <p>Alle Preise sind inklusive der gesetzlichen Mehrwertsteuer. Die aktuellen Preise sind auf der Webseite und im Salon einsehbar. Für Dienstleistungen, die einer individuellen Preisplanung bedürfen, wird auf Wunsch ein Kostenvoranschlag erstellt. Verkaufsartikel sind mit Preisen ausgezeichnet.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 6 Preisabweichungen</strong></h5>
                                    <p>Die angegebenen Preise sind Mindestpreise. Abweichungen können durch erhöhten Materialverbrauch oder zusätzlichen Aufwand entstehen. Spontan gebuchte Dienstleistungen erhöhen den Endpreis. Der Betrag ist nach Leistungserfüllung sofort per EC-Cash oder Gutschein zu begleichen. Rücklastschriftkosten trägt der Kunde.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 7 Haftung</strong></h5>
                                    <p>Taschen, Gepäckstücke, Garderobe und Wertgegenstände der Kunden sind von der Haftung ausgeschlossen. Ohrschmuck muss vor der Behandlung abgelegt werden. Schäden, die durch eigenes Verschulden des Kunden entstehen, werden nicht ersetzt.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 8 Haftung bei Terminausfall</strong></h5>
                                    <p>Kann ein Termin durch bloom´s Friseur aufgrund höherer Gewalt (z. B. Stromausfall, Krankheit) nicht wahrgenommen werden, entsteht kein Schadensersatzanspruch. Der Kunde wird frühzeitig informiert, und der Termin wird kostenfrei verschoben oder storniert. Bereits bezahlte Beträge werden zurückerstattet.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 9 Gewährleistung</strong></h5>
                                    <p>Mängel in der Dienstleistung oder an gekauften Waren sind innerhalb von 14 Tagen anzuzeigen. bloom´s Friseur hat das Recht zur Nachbesserung oder Rückerstattung der Kosten. Die Wahl liegt bei bloom´s Friseur.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 10 Einschränkung der Gewährleistung</strong></h5>
                                    <p>Kein Gewährleistungsanspruch besteht bei:
                                        <ul>
                                            <li>Unerheblichen Abweichungen von der vereinbarten Leistung.</li>
                                            <li>Unsachgemäßer Pflege oder Nachbesserungen durch den Kunden oder Dritte.</li>
                                            <li>Schäden durch übermäßige Beanspruchung oder natürliche Abnutzung.</li>
                                        </ul>
                                    </p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 11 Behandlung von Kindern und Jugendlichen</strong></h5>
                                    <p>Chemische Behandlungen wie Tönungen, Colorationen und Strähnen werden bei Kunden unter 16 Jahren nur mit schriftlicher Zustimmung der Erziehungsberechtigten durchgeführt.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 12 Datenschutz</strong></h5>
                                    <p>Die personenbezogenen Daten der Kunden werden gemäß den geltenden Datenschutzgesetzen ausschließlich zur Abwicklung der Terminvereinbarungen und Dienstleistungen verwendet. Eine Weitergabe an Dritte erfolgt nur, soweit dies zur Vertragserfüllung notwendig ist. Weitere Informationen finden Sie hier <a href="https://bloom-s.de/datenschutz.html">https://bloom-s.de/datenschutz.html</a>.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 13 Verhalten im Salon</strong></h5>
                                    <p>Im Salon wird ein respektvolles und störungsfreies Verhalten erwartet. bloom´s Friseur behält sich vor, Kunden bei unangemessenem Verhalten (z. B. Beleidigungen oder aggressivem Verhalten) den Zutritt zu verwehren oder Dienstleistungen abzubrechen.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 14 Gutscheine</strong></h5>
                                    <p>
                                        <ul>
                                            <li>Gutscheine sind ab Ausstellungsdatum 3 Jahre gültig.</li>
                                            <li>Eine Barauszahlung ist ausgeschlossen.</li>
                                            <li>Gutscheine sind übertragbar, sofern nicht anders angegeben.</li>
                                        </ul>
                                    </p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 15 Haftung bei Schäden durch Behandlungen</strong></h5>
                                    <p>bloom´s Friseur haftet für Schäden, die nachweislich durch unsachgemäße Behandlung entstehen, bis zur Höhe des entstandenen Schadens. Eine Haftung für vorher bestehende Schäden oder Folgen durch die falsche Verwendung von Produkten ist ausgeschlossen.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 16 Produktverkauf</strong></h5>
                                    <p>Verkaufsartikel sind mit Preisen ausgezeichnet. Bei Bedarf erhalten Kunden eine individuelle Beratung. Geöffnete oder benutzte Waren sind von der Rückgabe ausgeschlossen, es sei denn, sie weisen einen Mangel auf.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 17 Anwendbares Recht und Gerichtsstand</strong></h5>
                                    <p>Es gilt das Recht der Bundesrepublik Deutschland. Gerichtsstand ist der Sitz von bloom´s Friseur, sofern der Kunde Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen ist.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 18 Schlussklausel</strong></h5>
                                    <p>Sollten einzelne Bestimmungen dieser AGB ganz oder teilweise unwirksam sein, bleiben die übrigen Bestimmungen davon unberührt.</p>
                                </div>

                                <div class="mt-5">
                                    <h6><strong>Stand: 21.11.2024</strong></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </section>
        </article>
    </div>
</div>
