<div class="team-employee-profile text-center">
    <img src="asset/images/emp_image.jpg" class="img-hover-animation" alt="Eva Maria Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Eva Maria</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/emp_image.jpg" class="img-hover-animation" alt="Itala Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Itala</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/dana_emp.jpg" class="img-hover-animation" alt="Dana Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Dana</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/styliani_emp.jpg" class="img-hover-animation" alt="Styliani Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Styliani</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/sabine_emp.jpg" class="img-hover-animation" alt="Sabine Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Sabine</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/melisa_emp.jpg" class="img-hover-animation" alt="Melisa Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Melisa</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/anna_emp.jpg" class="img-hover-animation" alt="Anna Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Anna</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/sarah_emp.jpg" class="img-hover-animation" alt="Sarah Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Sarah</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/michelle_emp.jpg" class="img-hover-animation"
         alt="Michelle-Susanne Profile Image" data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Michelle-Susanne</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/kevin_emp.jpg" class="img-hover-animation" alt="Kevin Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Kevin</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/emp_image.jpg" class="img-hover-animation"
         alt="Employee Default Profile Image" data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Elvedina</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/emp_image.jpg" class="img-hover-animation"
         alt="Employee Default Profile Image" data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Jessica</p>
</div>
<div class="team-employee-profile text-center">
    <img src="asset/images/berfin_emp.jpg" class="img-hover-animation" alt="Berfin Profile Image"
         data-toggle="modal"
         data-target="#employeeModal"/>
    <p class="over-image-text">Berfin</p>
</div>