<div class="row">
<div class="col-md-12"><nav class="page-nav-others text-vanukin navbar navbar-dark navbar-expand-md mt-5 py-0">
<div class="container p-md-0 w-100"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="#myTogglerNav" aria-label="Toggle Navigation"> </button>
<section id="myTogglerNav" class="collapse navbar-collapse pr-3 order-md-1 order-2">
<div class="navbar-nav ml-auto w-100 justify-content-around px-5"><button class="btn-close-mobile-nav d-md-none" type="button" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="#myTogglerNav" aria-label="Toggle Navigation"> X </button></div>
</section>
</div>
</nav>
<article id="page-impressum" class="container p-md-0 mt-5">
<section class="layout-impressum"><img class="img-fluid" src="{{@ASSETS}}images/image-example.svg" alt="Image" />
<section class="mt-5">
<div class="row">
<div class="col-md-6">
<h3><strong>Impressum</strong></h3>
</div>
<div class="col-md-6 text-right"><button onclick="window.opener=null; window.close(); return false;" class="btn btn-light rounded-0 sticky-top text-center">Schließen</button></div>
</div>
<div>
<p class="my-3">Pertsch GmbH</p>
<div class="impressum-paragraph">
<p>Verwaltung<br />N7, 8 (Kunststra&szlig;e)<br />68161 Mannheim<br />Telefon Zentrale: 0621 / 5680-444 --&gt; F&uuml;r Friseurtermine bitte im <a href="salons.html">Salon anrufen</a> oder nutzen Sie unsere <a href="termine.html">Online-Terminvereinbarung</a>.&nbsp;<br />E-Mail: <a href="mailto:webmaster@bloom-s.de">webmaster@bloom-s.de</a></p>
</div>
<p class="mt-3 mb-0">Vertretungsberechtigte Gesch&auml;ftsf&uuml;hrer:<br />Robert Rode, Sebastian Römer</p>
<p>Registergericht: Amtsgericht Ludwigshafen<br />Registernummer: HRB 4323<br />Sitz der Gesellschaft: Ludwigshafen<br />Steuernummer 38186/58519, Finanzamt Mannheim Stadt</p>
<p class="mb-0">&nbsp;</p>
</div>
<div>
<p class="my-3">Blooms1 GmbH</p>
<div class="impressum-paragraph">
<p>Verwaltung<br />N7, 8 (Kunststra&szlig;e)<br />68161 Mannheim<br />Telefon Zentrale: 0621 / 5680-444 --&gt; F&uuml;r Friseurtermine bitte im <a href="salons.html">Salon anrufen</a> oder nutzen Sie unsere <a href="termine.html">Online-Terminvereinbarung</a>.&nbsp;<br />E-Mail: <a href="mailto:webmaster@bloom-s.de">webmaster@bloom-s.de</a></p>
</div>
<p class="mt-3 mb-0">Vertretungsberechtigte Gesch&auml;ftsf&uuml;hrer:<br />Robert Rode, Sebastian Römer</p>
<p>Registergericht: Amtsgericht Ludwigshafen<br />Registernummer: HRB 4323<br />Sitz der Gesellschaft: Ludwigshafen<br />Steuernummer 38186/58519, Finanzamt Mannheim Stadt</p>
<p>&nbsp;</p>
<p class="mb-0"><strong>Inhaltlich verantwortlich:</strong></p>
<p>Robert Rode, c/o Pertsch GmbH, N7, 8 (Kunststra&szlig;e), 68161 Mannheim</p>
<p>&nbsp;</p>
<p><strong>Online-Streitbeilegung; Alternative Streitbeilegung nach VSBG</strong></p>
</div>
<div class="mt-5">
<p>Die Europ&auml;ische Kommission stellt f&uuml;r Verbraucher eine Plattform zur Online-Streitbeilegung (OS) bereit. Diese erreichen Sie unter: <a href="http://www.ec.europa.eu/consumers/odr">www.ec.europa.eu/consumers/odr</a>. Unsere E-Mail-Adresse lautet: <a href="mailto:pertsch@bloom-s.de">pertsch@bloom-s.de</a> Zur Teilnahme an einem Streitbeilegungsverfahren nach dem Verbraucherstreitbeilegungsgesetz (VSBG) sind wir nicht verpflichtet und nicht bereit.</p>
</div>
<div class="mt-5">
<h5><strong>Geltung f&uuml;r andere Internetpr&auml;senzen und Telemedien</strong></h5>
<p>Alle vorstehenden Angaben beziehen sich auch auf unsere Internetauftritte bei den Fremdanbietern Facebook, Instagram und YouTube sowie auf unseren Newsletter.</p>
<div class="impressum-paragraph mt-4">
<p>Webdesign und Umsetzung:</p>
<p>Pertsch GmbH, Mannheim&nbsp;<br /><a title="Werbeagentur Mannheim" href="https://www.1plus-agency.com" target="_blank" rel="noopener">1Plus Agency GmbH, Mannheim</a></p>
</div>
<div class="impressum-paragraph mt-4">
<BR><p>Haftung f&uuml;r Inhalte:</p>
<p>F&uuml;r eigene Inhalte auf unsern Webseiten sind wir gem&auml;&szlig; &sect; 7 Abs. 1 des Telemediengesetzes (TMG) als Diensteanbieter nach den allgemeinen Gesetzen verantwortlich. Jedoch sind wir als Diensteanbieter nach den &sect;&sect; 8 bis 10 TMG nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen. Davon unber&uuml;hrt bleiben die uns nach den allgemeinen Gesetzen auferlegten Verpflichtungen zur Entfernung oder zur Sperrung der Nutzung von Informationen. Insofern haften wir jedoch erst ab dem Zeitpunkt, ab dem wir von einer konkreten Rechtsverletzung Kenntnis erlangen. Wenn wir von einer konkreten Rechtsverletzung Kenntnis erlangen, werden wir entsprechende Inhalte unverz&uuml;glich entfernen.</p>
</div>
<div class="impressum-paragraph mt-4">
<p>Haftung f&uuml;r Links:</p>
<p>Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. F&uuml;r diese fremden Inhalte k&ouml;nnen wir daher auch keine Gew&auml;hr &uuml;bernehmen, sondern der jeweilige Anbieter oder Betreiber der verlinkten Seiten ist stets f&uuml;r deren Inhalte verantwortlich. Wenn uns Rechtsverst&ouml;&szlig;e bekannt werden, werden wir derartige Links umgehend entfernen.</p>
</div>
<div class="impressum-paragraph mt-4">
<p>Urheberrecht:</p>
<p>Das Layout der Homepage, die verwendeten Grafiken sowie die Sammlung der Beitr&auml;ge sind urheberrechtlich gesch&uuml;tzt. Die Seiten d&uuml;rfen nur zum privaten Gebrauch vervielf&auml;ltigt, vorgenommen und Vervielf&auml;ltigungsst&uuml;cke weder verbreitet noch zu &ouml;ffentlichen Wiedergaben benutzt werden. Die Vervielf&auml;ltigung von Informationen oder Daten, insbesondere die Verwendung von Texten, Textteilen oder Bildmaterial bedarf der vorherigen Zustimmung der Pertsch GmbH oder der jeweiligen Bildrechteinhaber.</p>
</div>
<div class="impressum-paragraph mt-4">
<p>Bildrechte:</p>
<p>Pertsch GmbH<br />Glynt, Hans Conzen Kosmetik GmbH<br />Getty Images International<br />iStockphoto.de</p>
</div>
</div>
</section>
</section>
</article>
</div>
</div>