<div id="agb-section" class="row">

    <div class="col-md-12">

        <include href="layout/blooms-logo.html" />


        <article id="page-impressum" class="container p-md-0 mt-5">
            <section class="layout-impressum">

                <section class="mt-3">

                    <div class="row">
                        <div class="col-md-10 col-sm-12 col-lg-12 col-xl-11">
                            <h5 class="mt-3 mb-0">Allgemeine Geschäftsbedingungen für die Terminvereinbarung bei bloom
                                ́s Friseur (AGB ́s)</h5>
                            <h5 class="mb-0">„bloom ́s Friseur“ ist eine eingetragene Marke der Pertsch GmbH und der
                                blooms1 GmbH, vertreten durch die Geschäftsführer Gabriele Diemert-Pertsch, Franz
                                Pertsch und Wolfgang Pertsch, N7,8, 68161 Mannheim.</h5>

                            <div class="mt-5">
                                <h5><strong>§ 1 Gültigkeit</strong>
                                </h5>
                                <p>Für die Geschäftsbeziehung zwischen dem Kunden und bloom ́s Friseur gelten die
                                    nachstehenden AGB ́s.</p>

                                <div class="mt-5">
                                    <h5><strong>§ 2 Terminvereinbarung</strong></h5>
                                    <p>Die Terminvereinbarung erfolgt persönlich, telefonisch oder online über unser
                                        Buchungstool (Homepage) aufgrund der Angaben der zu gewünschten Leistungen. Wenn
                                        der Termin mit einem Datum und einer Uhrzeit verbindlich gebucht ist, entsteht
                                        zwischen dem Kunden und bloom ́s Friseur ein Dienstleistungsvertrag über die
                                        gewünschte Leistung.</p>
                                </div>


                                <div class="mt-5">
                                    <h5><strong>
                                            § 3 Terminstornierung
                                        </strong></h5>
                                    <p> Ein vereinbarter Termin kann persönlich, <B><a href="https://bloom-s.de/salons.html">telefonisch</a></B> oder über die Webseite kostenfrei bis zu 24 Stunden vor Terminbeginn verschoben oder storniert werden. Den entsprechenden Stornierungslink finden Sie in der Bestätigungsmail zu Ihrem Termin. Termine können nicht über soziale Medien wie Facebook und Instagram verschoben oder storniert werden.
                                    </p>


                                </div>
                                <div class="mt-5">
                                    <h5><strong>§ 4 Gebühr bei nicht zustande kommen des Termins</strong></h5>
                                    <p>Wird der vereinbare Termin nicht in Anspruch genommen und wurde dieser nicht
                                        rechtzeitig mindestens <span style="text-decoration: underline">24 Stunden vor
                                            Beginn</span> storniert, wird eine Gebühr in Höhe
                                        von 65% der reservierten Leistungen dem Kunden in Rechnung gestellt.</p>
                                </div>
                                <div class="mt-5">
                                    <h5><strong>§ 5 Preise</strong></h5>
                                    <p>Alle ausgewiesenen Preise sind inklusive der gesetzlichen Mehrwertsteuer. Auf der
                                        Webseite oder im Salon sind die Preise jederzeit öffentlich einsehbar.Es gibt
                                        Dienstleistungen, die in der Preisliste nicht aufgeführt sind, da sie einer
                                        individuellen Preisplanung bedürfen. bloom ́s Friseur erteilt auf Wunsch im
                                        Voraus Auskunft über mögliche Kosten. Wünscht der Kunde einen genauen
                                        Kostenvoranschlag, so ist dies vor Beginn der Behandlung möglich. Alle
                                        Verkaufsartikel sind mit Preisen ausgezeichnet.
                                    </p>
                                </div>
                                <div class="mt-5">
                                    <h5><strong>§ 6 Preisabweichungen</strong></h5>
                                    <p>
                                        Angegebene Preise können durch einen Mehraufwand bzw. erhöhten Materialverbrauch
                                        abweichen, d. h. die Preise sind Mindestpreise. Spontanes Buchen von weiteren
                                        Dienstleistungen erhöht ggf. den Endpreis.
                                    </p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 7 Haftung</strong></h5>
                                    <p>Taschen, Gepäckstücke, Garderobe und Wertgegenstände der Kunden sind von der
                                        Haftung ausgeschlossen. Ohrschmuck muss vor der Behandlung abgelegt werden.
                                    </p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 8 Haftung bei Terminausfall</strong></h5>
                                    <p>Ist ein Kundenauftrag teilweise oder ganz durch nicht zu vertretende Umstände von
                                        bloom ́s Friseur (z. B. Krankheit oder höhere Gewalt wie Stromausfall) nicht
                                        realisierbar, ist kein Schadensersatz möglich. Muss durch bloom ́s Friseur ein
                                        Termin verschoben werden, so erhält der Kunde so früh wie möglich eine
                                        Information per SMS oder telefonisch. Der Termin wird dann kostenfrei storniert
                                        oder verschoben. Aufgrund von nicht absehbarer Ereignisse können dem Kunden
                                        Wartezeiten entstehen. In diesem Fall ist kein Schadensersatz möglich.</p>

                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 9 Gewährleistung</strong></h5>
                                    <p>Ist ein Mangel in der Dienstleistung oder beim Kauf einer Ware festzustellen,
                                        muss dieser innerhalb von spätestens 14 Tagen angezeigt werden. bloom ́s Friseur
                                        hat ein Nachbesserungsrecht oder das Recht auf Rückzahlung der Kosten der Ware
                                        bzw. der reklamierten Dienstleistung. Die Wahl der Nachbesserung oder
                                        Rückerstattung der Kosten liegt ausschließlich bei bloom ́s Friseur.</p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 10 Einschränkung der Gewährleistung</strong></h5>
                                    <p>Bei einer unerheblichen Abweichung von der vereinbarten Dienstleistung, die durch
                                        natürliche Abnutzung, fehlerhafte oder nachlässige Pflegebehandlung sowie durch
                                        übermäßige Beanspruchung durch den Kunden erfolgt, ist keine Gewährleistung
                                        vorgesehen. Werden von Dritten oder dem Kunden selbst Nachbesserungsarbeiten
                                        oder Veränderungen vorgenommen, erlischt jede Gewährleistung.
                                    </p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 11 Behandlung von Kindern und Jugendlichen</strong></h5>
                                    <p>Bei Kunden unter 16 Jahren werden nur mit schriftlicher Genehmigung des
                                        Erziehungsberechtigten chemische Behandlungen (Tönung, Coloration & Strähnen)
                                        ausgeführt.
                                    </p>
                                </div>

                                <div class="mt-5">
                                    <h5><strong>§ 12 Schlussklausel</strong></h5>
                                    <p>Sollten einzelne Bestimmungen dieser allgemeinen Geschäftsbedingungen ganz oder
                                        teilweise nichtig sein, bleiben die übrigen Bestimmungen davon unberührt.

                                    </p>
                                </div>



                                <div class="mt-5">
                                    <h6><strong>Stand 15.11.2022</strong></h6>
                                </div>



                            </div>
                        </div>
                        <div class="col-md-2 col-xl-1"><button
                                onclick="window.opener=null; window.close(); return false;"
                                class="btn btn-light rounded-0 sticky-top">Schließen</button></div>
                    </div>

                </section>

            </section>
        </article>
    </div>
</div>