<div id="termine-section" class="row">

    <div class="col-md-12">
        <include href="layout/blooms-logo.html" />
        <nav class="page-nav-others text-vanukin navbar navbar-dark navbar-expand-md mt-5 py-0">
            <div class="container p-md-0 w-100">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myTogglerNav"
                    aria-controls="#myTogglerNav" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <section class="collapse navbar-collapse pr-3 order-md-1 order-2" id="myTogglerNav">
                    <div class="navbar-nav ml-auto w-100 justify-content-around px-5">
                        <button type="button" class="btn-close-mobile-nav d-md-none" data-toggle="collapse"
                            data-target="#myTogglerNav" aria-controls="#myTogglerNav" aria-label="Toggle Navigation">
                            X
                        </button>
                        <include href="layout/menu_all.html" />
                    </div>
                </section>
            </div>
        </nav>
		<center>
		<img src="/assets/images/set.gif" class="img-fluid" alt="Blooms logo">
  <h3 class="h1-responsive font-weight-bold text-center my-4 pt-md-5 mt-2">Wir aktualisieren gerade unsere Webseite und bitten um etwas Geduld</h3></center>
<!-- END ROW -->
<!-- begin termine-modal -->
<include href="termine/termine-modal.html" />
<include href="termine/termine-modal-hair.html" />
<!-- end termine-modal -->